extends layout 

block content 
    .delete-div
        h1 #{title}: #{course.department} #{course.code} - #{course.name}

        p Do you really want to delete this author?

        .bruhhh
            form(method='POST' action='')
                div.form-group 
                    input#authorid.form-control(type='hidden', name='courseid', required='true', value=course._id) 
                button.add-btn(type='submit') Delete