extends layout 

block content 
    h1.course-view-title= title 

    each homework in homeworks
        .homework 
            .homework-top
                .homework-name #{homework.name}
                .homework-due #{homework.due_formatted}
            .homework-description #{homework.description}
    else 
        h2.no-hw No homework yet!
        
    .bruhhhhh
        a(href=`/course/${course._id}/delete`) 
            .course-delete Delete course