.sidebar 
  div(class='sidebar')
    h2= sidebardata.title
    div(class='courses')
      each course in sidebardata.courses
        div(class='sidebar-course')
          a(href=course.url) #{course.department} #{course.code} - #{course.name} 
      else 
        div There are no courses
    .buttons
      button.add-btn(onclick="location.href='/course/create'") New course
      button.add-btn(onclick="location.href='/homework/create'") New Homework